/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: grid;
    min-width: fit-content;
    grid-template-rows: auto auto 1fr auto;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(52, 3, 89, 0.66);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section, footer p {
    text-align: center;
    padding: 10px 20px;
}

button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c158dc;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

form div textarea {
    width: 15rem;
    height: 5rem;
}

form button {
    margin: 10px 20px;
}

.icon {
    display: flex;
}

div#carousel {
    grid-row: 1/2;
    grid-column: 1/8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 6;
    --middle: 3;
    --position: 1;
}

div.carousel-item {
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgba(52, 3, 89, 0.66);
    position: absolute;
    width: auto;
    height: auto;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc(var(--items) - var(--abs));
}

div.carousel-item img {
    cursor: pointer;
}

div.carousel-item:nth-of-type(1) {
    --offset: 1;
}

div.carousel-item:nth-of-type(2) {
    --offset: 2;
}

div.carousel-item:nth-of-type(3) {
    --offset: 3;
}

div.carousel-item:nth-of-type(4) {
    --offset: 4;
}

div.carousel-item:nth-of-type(5) {
    --offset: 5;
}

div.carousel-item:nth-of-type(6) {
    --offset: 6;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fade:not(.show) {
    opacity: 100%;
}

.fade {
    position: absolute;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}

.working {
    display: flex;
    align-items: center;
    text-align: center;
}

.working * {
    padding: 0 10px;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials a {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: solid 2px #6a1b9a;
    background-color: #fff;
    color: #6a1b9a;
    text-decoration: none;
}

#socials a:hover {
    box-shadow: 10px 10px 10px;
}

#socials a:visited {
    color: #6a1b9a;
}

#contact {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 250px){

}