/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #6a1b9a, #c158dc);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c158dc;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

form div textarea {
    width: 15rem;
    height: 5rem;
}

form button {
    margin: 10px 20px;
    align-self: center;
}

footer p{
    margin: 0;
    padding: 10px;
    background-color: #000000;
}

.card {
    padding: 20px;
}

.working {
    display: flex;
    align-items: center;
    text-align: center;
}

.working * {
    padding: 0 10px;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials h3 {
    padding: 10px 50px;
    border: solid 2px #6a1b9a;
    background-color: #ffff;
    width: 5rem;
}

#twitch:hover {
    box-shadow: 10px 10px 10px #6a1b9a;
}

#youtube:hover {
    box-shadow: 10px 10px 10px #f50202;
}

#tiktok:hover  {
    box-shadow: 10px 10px 10px #e3dcdc;
}

#discord:hover  {
    box-shadow: 10px 10px 10px #0215f5;
}

#twitter:hover {
    box-shadow: 10px 10px 10px #000000;
}

#threads:hover  {
    box-shadow: 10px 10px 10px #545359;
}

#instagram:hover  {
    box-shadow: 10px 10px 10px #ef7c0c;
}

#socials h3 a {
    text-decoration: none;
    color: #6a1b9a;
}

#socials h3 a:visited {
    color: #6a1b9a;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}